body{
    background-color: #bfcef8;
    width: 800px;
    margin: auto;
    padding: 20px 20px;

}
header, article, footer{
    background-color: #dceaf4;
    border:2px solid #bfcacb;
    border-radius: 5px;
}

header *{
    display: inline-block;
    vertical-align: middle;
}

header{
    padding: 8px 10px;
}
nav ul {
    margin: 0;
    padding: 10px;
}

nav li{
    margin: 10px;
}

nav li a {
    text-decoration: none;
}
section h2{
    margin: 15px 10px;
}


article{
    margin-right: 10px;
    display: table-cell;
    width: 50%;
    padding: 10px 15px;

}
footer{
    margin: 3px 0px;
    padding:5px 10px;

}
tooter p{
    margin: 5px;
}