@media (max-width: 600px) {
    .home-container01 {
        display: none;
    }


    .home-left {
        display: none;
    }
    .home-right{
        display: none;
    }

    .navbar-logo-title {
        margin-left: 10px;
        margin-right: 0px;
    }
    .home-hero1 {
        display: flex;
        max-width: 600px;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        max-width: 600px;


    }

    .category-card-image {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        margin-bottom: 16px;
        object-position: bottom;
    }

    .section-container {
        flex-direction: column;
    }
     .home-left4{
        padding: 2rem;
    }

    .home-image6{
        width: 100%;
        object-fit: cover;
    }
    .blog-post-card-blog-post-card {
        max-width: none;
    }

    .home-container09 {
        order: 2;
    }

    .home-links-container {
        display: flex;
        grid-gap: 48px;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        order: 1;
    }

    .home-footer1 {
        flex-direction: column;
    }

}