body{
    font-family: Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
article{

    display: inline-block;
    width: 70%;
}
aside{
    display: inline-block;
    width: calc(30% - 10px);
    padding: 20px;
}
