/* TODO: style the html */

img{
    border-right: 1px solid #d1d1d1;
    margin-right: 19px;
    padding-right: 19px;
    float: left;

}

p{
    font-size: 20px;
    line-height: 30px;
    color: #2e2e2e;
    text-align: justify;
    vertical-align: top;
}

main{
    background-color: #d5384d;
    width: 900px;
    overflow:clip ;
    margin: auto;
}