header { grid-area: header; }
aside { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }

body{
    display: grid;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
    gap: 10px;
    grid-template-columns: 200px auto;
    background-color: #2196F3;
}

header, main, aside, footer{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
}


nav a{
    display: block;
}